<h1>
  Upcoming Events {{ date | date:'MMMM yyyy' }}
</h1>
<div class="event-list-wrapper">
  <ul class="cal">
    <li class="cal-event" (click)="getEvent(event.id)" *ngFor="let event of events | async">
      <div class="cal-event-tile">
        <div class="cal-event-tile-month">{{ event.data.date | date:'MMM' }}</div>
        <div class="cal-event-tile-date">{{ event.data.date | date:'d' }}</div>
      </div>
      <div class="cal-event-desc">
        <div class="cal-event-title">
          {{ event.data.title }}
        </div>
        <div class="cal-event-time">
          <i class="fa fa-calendar"></i>
          <div class="cal-event-time-content">
              {{ event.data.date | date:'h:mm a, EEE d MMM' }}
          </div>
        </div>
        <div class="cal-event-location">
          <i class="fa fa-map-marker"></i>
          <a class="cal-event-location-content" href="{{ getMap(event) }}">
            {{event.data.location}}  
          </a>
        </div>
        <div class="cal-event-description">
          <div class="cal-event-description-content">
            {{event.data.description}}  
            </div>
        </div>
        <a class="cal-event-map" href="{{ getMap(event) }}" target="_blank">View Map</a>
        <button class="cal-event-register" [disabled]="event.data.maxplayers <= event.data.count" routerLink="{{ '../register/' + event.id }}">Register</button>
        <span *ngIf="event.data.maxplayers <= event.data.count; else fullEvent">
          Registration Full
        </span>
        <ng-template #fullEvent>
            <span *ngIf="event.data.maxplayers - event.data.count < 2;else lastTen">
              1 seat remaining
            </span>
          </ng-template>
        <ng-template #lastTen>
          <span *ngIf="event.data.maxplayers - event.data.count < 10;">
              {{ event.data.maxplayers - event.data.count }} seats remaining
          </span>
        </ng-template>
      </div> 
    </li>
  </ul>
</div>