#main-header{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 8px;
}

#main-img-logo{
    margin: 1em;
}

hr {
    size: 2px;
    border: 1px solid black;
}