h1{
    margin-bottom: 2rem;
    font-weight:bold;
    font-size: 2em;
    text-align: center;
  }

.form-container {
    display:block;
    width:90%;
    padding:2em;
    margin: 2em auto;
    background:#dbdbdb;
    border-radius: 5px;
    box-shadow: 9px 7px 40px -6px rgba(0,0,0,0.25);
}

label{ //OVERRIDE VALUES
    all:initial;
    font-family: 'Raleway', 'Arial';
}

input{
    margin:1.5em 0 0 0;
    height: auto;
    box-sizing: content-box;
    line-height: 20px;
    font-size: 16px;
    margin: 0 0 20px 0;
    padding: 8px;
}

.alert {
  background: #fd1111;
  color: white;
  padding: 2px;
  font-size: .9em;
  display: inline-block;
  animation: 2s alertAnim forwards;
}

.red-asterik{
  color: red;
  padding: 0;
  margin: 0;
  font-size: 1.7em;
}