/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css?family=Raleway:300,700');

body {
    background: rgb(36, 204, 226);
    padding: 2em 0 2em 0;
    font-family: 'Raleway', 'Arial';
}

p{
    margin: 2em;
    font-size: 16px;
}